# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cc++ labs\lab1_new\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
